.navbar {
	background-color: black;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}

*{
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #C8E6C9;
	font-family: 'Roboto', sans-serif;
}


 .Disciplinas .jumbotron{	
	background-color: #4CAF50;
	background-image: url(../Assets/undraw_collecting_fjjl.svg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 30%;
	color: #FFFFFF;
	text-align: left;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}

 .Fórum .jumbotron{
	background-color: #4CAF50;
	background-image: url(../Assets/undraw_post_online_dkuk.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 30%;
	color: #FFFFFF;
	text-align: right;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}

 .Avisos .jumbotron{	
	background-color: #4CAF50;
	background-image: url(../Assets/undraw_events_2p66.svg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 30%;
	color: #FFFFFF;
	text-align: left;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}

.containerdiv {
	display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-template-rows: 1fr;
    align-content: center;
}
.card {
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}

.Resultado{display: none; float:center; width: 70%; border: 2px solid #00ff0d; background: #d8ffd5; text-align: center; padding: 15px margin: 20px 15% 10px 15%;}


.footer {
	border-color: #212121;
  	padding: 20px;
  	background-color: #212121;
  	color: #FFFFFF;
  	text-align: center;
